@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    list-style-position: inside;
}
:root{
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  height: 100vh;
}
/* main */
.container{
  width: 100%;
  height: 100%;
  background-color: var(--body-bg-color);
  display: flex;
}

.sidebar{
  background-color: var(--green);
  color: var(--text-color);
  position: relative;
  max-width: 300px;
  width: 100%;
  transition: all 400ms;
}

.s-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.s-header svg:last-child{
  cursor: pointer;
}
/* list */

.s-nav{
  padding: 2rem .5rem;
}
.s-item{
  margin: 2.75rem 1rem;
}

.s-item a{
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: .8rem;
  width: 100%;
  font-weight: 400;
  transition: all 400ms;
}

.s-item a:hover{
  color: var(--body-bg-color);
}

.s-list .s-item:first-child{
  background-color: var(--light-green);
  padding: .6rem;
  border-radius: 10px;
  margin: 1px 6px;
}

.s-item span{
  padding-left: .5rem;
  opacity: 1;
  visibility: visible;
  display: block;
}

/* profile */

.profile{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-green);
}

.p-picture{
  width: 50px;
  border-radius: 5px;
}

.p-wrapper{
  opacity: 1;
  visibility: visible;
  display: flex;
}

.p-description{
  padding-left: 5px;
}
.p-description p:last-child{
  font-size: .7rem;
}

.p-logout{
  cursor: pointer;
}
/* animations */

.closed-nav{
  width: 70px;
  transition: all 300ms;
}

.closed-nav > .s-header{
  justify-content: center;
}

.closed-nav .logo{
  display: none;
}

.closed-nav  span{
  display: none;
}

.closed-wrapper{
    justify-content: center;
    padding: .5rem;
    transition: all 400ms;
}

.closed-wrapper > .p-wrapper{
    display: none;
    transition: all 400ms;
}

@keyframes closeSidebar {
  from{
    width: 300px;
  }to{
    width: 50px;
  }
}

@keyframes fadeText {
  0%{
    display: block;
    opacity: 1;
    visibility: visible;
  }
  50%{
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100%{
    display: none;
  }
}


.dashboard{
  width: 100%;
}
.dashboard h1{
  padding: 1rem;
  color: var(--text-color);
}